@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.inback {
  text-align: center;
  position: fixed;
  background: radial-gradient(darkcyan, #ffffff00);
  border-radius: 100%;
}

.navLinks{
  display:inline;
  margin-right: 10px;
  font-size: 25 px;
  font-family: sans-serif;
  color: black;
}

.navLinks:hover{
  font-size: 50 px;
  font-family: sans-serif;
  color: darkorchid;
}

#yearbook{
  display: flex;
  justify-content: space-around;
}

.yearbookPhoto{
  margin-top: 230px;
}

#titlefont {
  font-family:'Dela Gothic One',cursive;
  font-size: 80px;
  color: black;}

img{
    border: 10px solid #ddd;
    border-color: firebrick;
}

p{
  border: 5px solid #ddd;
  border-color: firebrick;  
}

p > span {
  color: darkred;
  font-size: 30px;
}

body{
  min-height: 100vh;
  background: radial-gradient(Red, Blue, Yellow, darkcyan);
}
 

.container{
  background: red;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: column;
}

.reverse{
  flex-direction:column-reverse;
  align-items: flex-end; 
}

.big{
  flex-grow: 5 important;
}

#thisone {
  background: crimson;
  width: 100px;
  height: 80px;
  margin: 10px;
  border-radius: 25px;

}

#thatone {
  background: darkred;
  width: 100px;
  height: 80px;
  margin: 10px;
  border-radius: 25px;

}

.theseones{
  background: black;
  width: 100px;
  height: 80px;
  margin: 10px;
  border-radius: 25px;
}




